<div class="container">
  <div class="col-sm-offset-2 col-sm-8">
    <p>
      Java example of simple API with angular MVC modular frontEnd
    </p>

    <div class="panel panel-default">
      <div class="panel-heading">
        New Inventory
      </div>

      <div class="panel-body">
        <!-- Form -->
        <form autocomplete="off" method="post" name="createForm" id="createForm" class="form-horizontal"
              ng-submit="createForm.$valid && main.createInventory()"  novalidate>
          <div class="form-group">
            <label for="name" class="col-sm-3 control-label">Name</label>

            <div class="col-sm-6">
              <input type="text" name="name" id="name" class="form-control" ng-model="main.inventory.name" ng-minlength="3" ng-maxlength="30" required>
            </div>
          </div>

          <div class="form-group">
            <label for="description" class="col-sm-3 control-label">Description</label>

            <div class="col-sm-6">
              <input type="text" name="description" id="description" class="form-control" ng-model="main.inventory.description" ng-minlength="3" ng-maxlength="150" required>
            </div>
          </div>

          <div class="form-group">
            <label for="type" class="col-sm-3 control-label">Type</label>

            <div class="col-sm-6">
              <select ng-model="main.inventory.type_id" required>
                <option ng-repeat="type in main.types track by $index" value="{{type.id}}" label="{{type.name}}">{{type.name}}</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="unitPrice" class="col-sm-3 control-label">Unit price</label>

            <div class="col-sm-6">
              <input type="num" name="unitPrice" id="unitPrice" class="form-control" ng-model="main.inventory.unit_price" required>
            </div>
          </div>

          <!-- Add Button -->
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-6">
              <button type="submit" class="btn btn-default">
                <i class="fa fa-btn fa-plus"></i>Add Inventory
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- Inventory list -->
    <div class="panel panel-default">
      <div class="panel-heading">
        Inventory List
      </div>

      <div class="panel-body">
        <table class="table table-striped inventory-table">
          <thead>
            <th>Inventory</th>
            <th>&nbsp;</th>
          </thead>
          <tbody id="inventoryList">
            <tr ng-repeat="inventory in main.inventorys track by $index">
              <td class='table-text'><div>Name: {{inventory.name}}</div></td>
              <td class='table-text'><div>Description: {{inventory.description}}</div></td>
              <td class='table-text'><div>Type: {{inventory.type_id}}</div></td>
              <td class='table-text'><div>Unit price: {{inventory.unit_price}}</div></td>
              <td>
                <button ng-click="main.deleteInventory(inventory.id)" id='delete' class='btn btn-danger'>
                  <i class='fa fa-btn fa-trash'></i>Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
